/* Css que faz a imagem dar zoom */

.full-screen-main-div {
  position: relative;
  overflow-y: auto;

  margin-top: 20px;
  margin-bottom: 20px;

  display: block !important;
  -webkit-overflow-scrolling: touch;

  &.zoomDiv {
    overflow-x: scroll;
    width: 100%;
    max-height: 500px;

    @media (max-width: 767.98px) {
      max-height: 400px;
    }

    @media (max-width: 575.98px) {
      max-height: 320px;
    }

    @media (max-width: 375px) {
      max-height: 230px;
    }
  }

  img {
    &.openImgZoom {
      max-width: 1200px;
    }
  }
}

.header-interno {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;

  .info-header-interno {
    padding: 180px 0 40px;

    .header-title {
      color: var(--text-white);
      font-weight: 700;
    }

    .list-history-page {
      margin-bottom: 0;
      padding: 0;

      display: flex;
      align-items: center;
      flex-wrap: wrap;

      li {
        font-size: rem(14);

        img {
          margin-right: 8px;
        }

        a {
          text-decoration: none;
          color: var(--text-grey-scale-03);

          &:hover {
            text-decoration: underline;
          }
        }

        &:not(:last-child) {
          display: flex;
          align-items: center;

          a {
            display: flex;
            align-items: center;
            line-height: 100%;
          }

          &::after {
            content: "";
            display: block;
            margin-left: 20px;
            margin-right: 20px;
            width: 12px;
            height: 12px;
            background-image: url("../images/icons/icon-arrow-right-small.svg");
          }
        }

        &.active {
          a {
            color: var(--text-white);
          }
        }
      }
    }
  }
}

.flex-bottom-header-interno {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.flex-compartilhar {
  display: flex;
  align-items: center;

  span {
    color: var(--text-white);
    font-size: rem(14);
    margin-right: 8px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;

    li {
      margin-bottom: 0;
      flex-shrink: 0;

      &:not(:last-child) {
        margin-right: 8px;

        @media (max-width: 767px) {
          margin-right: 12px;
        }
      }

      img {
        filter: brightness(0) invert(100%) sepia(100%) saturate(0%)
          hue-rotate(287deg) brightness(104%) contrast(102%);
      }
    }
  }
}

.flex-header-filtro {
  display: flex;
  justify-content: space-between;

  h2 {
    margin-bottom: 0;
  }
}

.filtro-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  margin-top: 0;

  @media (max-width: 475px) {
    flex-direction: column;
  }
}

.form-select-filtro {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  gap: 4px;
  background-color: transparent;
  border: none;

  padding: 0px;

  @media (min-width: 475px) {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  @media (max-width: 475px) {
    margin-bottom: 12px;
  }

  label {
    font-size: rem(10);
    color: var(--text-color);
    margin-left: 4px;
    margin-bottom: 8px;
  }

  select {
    background-color: transparent;
    border: 1px solid var(--text-grey-scale-03);
    color: var(--text-color);
    padding: 10px 30px 10px 16px;
    font-size: rem(14);
    min-width: 135px;
    border-radius: 4px;

    background-image: url("../images/icons/icon-arrow-down-select.svg");

    option {
      color: var(--pure-black);
    }
  }
}

.img-perfil-corporativo,
.img-missao-riweb,
.img-missao-riweb {
  img {
    max-width: 480px;
    width: 100%;
    max-height: 350px;
    object-fit: contain;
    margin: 0 auto;
  }
}

.img-missao-riweb {
  img {
    max-height: 397px;
  }
}

.img-valores-empresa {
  img {
    max-height: 420px;
  }
}

.img-sustentabilidade-100 {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

.section-nossa-visao {
  padding: 145px 0 85px !important;
  background-image: url("../images/bg-nossa-visao.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 991px) {
    background-position: top left;
  }

  h2,
  p {
    color: var(--text-white);
  }
}

.text-frase {
  padding: 24px 40px;
  border-radius: 4px;
  background-color: var(--primary-01-default);
  text-align: center;

  display: flex;
  align-items: center;
  height: 100%;

  > h5 {
    color: var(--text-white);
    margin-bottom: 0px;
    font-weight: 400;
  }
}

.list-missao-visao-valores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin: 40px 0px;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  .item-missao {
    padding: 24px;
    border-radius: 4px;
    border: 1px solid var(--text-grey-scale-03);

    img {
      max-width: 72px;
      margin-bottom: 40px;
    }

    h3 {
      margin-bottom: 8px;
    }

    p {
      font-size: rem(14);
    }
  }
}

.flex-text-and-card {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.saneago-sala-atuacao {
  padding: 40px 24px;
  background-color: var(--primary-01-default);
  border-radius: 8px;
  flex-shrink: 0;

  @media (max-width: 991px) {
    display: none;
  }

  h3 {
    margin-bottom: 0px;
    color: var(--text-white);
    font-weight: 400;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.flex-list-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  .item-list-dashboard {
    padding: 24px;
    border-radius: 8px;
    background-color: var(--text-grey-scale-01);
    border-left: 4px solid var(--text-primary-01-default);

    h4 {
      margin-top: 16px;
    }

    .footer-link {
      margin-top: 16px;
      padding-top: 8px;
      border-top: 1px solid var(--text-grey-scale-02);

      a {
        color: var(--text-primary-01-var-2);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.card-como-funciona {
  padding: 40px;
  background-color: var(--grey-scale-01);
  border-radius: 4px;
}

.flex-three-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin: 40px 0;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;

    img {
      height: 300px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

.banner-lp {
  // position: absolute;
  top: 0;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.64) 72.2%,
      #000 100%
    ),
    url("../../images/banner-01.jpeg") lightgray 50% / cover no-repeat;
  height: 840px;
  width: 100%;
}

.navbar-after {
  flex-wrap: wrap;
  gap: 24px;

  .nav-itens {
    display: flex;
    gap: 24px;

    @media (max-width: 1227px) {
      display: none;
    }

    a {
      padding-top: 4px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 6px;

      text-decoration: none;
      color: var(--menu-canais-text-default, #fff);
      font-family: var(--font-font-body-lg-font-family, "Neue Haas Unica Pro");
      font-size: var(--font-font-body-lg-size, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--font-font-body-lg-line-height, 24px); /* 150% */
    }
  }

  .links-banner {
    display: flex;
    gap: 16px;

    a:first-child {
      background-color: transparent;
      border: 1px solid #fff;
    }

    a:last-child {
      border-radius: 8px;
      background: var(--default-default-icon-accent, #344ff4);
      font-weight: 600;
    }

    a {
      padding: 8px 24px;
      text-decoration: none;
      border-radius: 8px;
      display: flex;
      gap: 8px;
      align-items: center;

      color: var(--font-font-body-md-body-md-inverse, #fff);

      /* Body/Body Md - Regular */
      font-family: var(--font-font-body-md-font-family, "Neue Haas Unica Pro");
      font-size: var(--font-font-body-md-size, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--font-font-body-md-line-height, 20px);

      @media (max-width: 800px) {
        padding: 8px 16px;
      }
    }
  }
}

.texts-banner-lp {
  position: absolute;
  top: 0;
  width: 100%;
  height: 840px;

  .main-content-texts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 906px;
    height: 840px;
    justify-content: center;

    @media (max-width: 1200px) {
      width: 100%;
    }

    small {
      color: var(--font-font-body-xl-body-xl-inverse, #fff);

      /* Body/Body Xl - Bold */
      font-family: var(--font-font-body-xl-font-family, "Neue Haas Unica Pro");
      font-size: var(--font-font-body-xl-size, 18px);
      font-style: normal;
      font-weight: 700;
      line-height: var(--font-font-body-xl-line-height, 26px); /* 144.444% */
    }

    h1 {
      margin: 0;
      padding: 0;

      color: var(--font-font-display-title-display-inverse, #fff);
      font-family: var(--font-font-display-font-family, "Bw Seido Raw");
      font-size: var(--font-font-display-size, 64px);
      font-style: normal;
      font-weight: 300;
      line-height: var(--font-font-display-line-height, 88px);

      @media (max-width: 1200px) {
        font-size: 50px;
      }
    }

    p {
      color: var(--font-font-body-lg-body-lg-inverse, #fff);
      font-family: Arial;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */

      width: 504px;

      @media (max-width: 1200px) {
        width: 100%;
      }
    }

    a {
      margin-top: 16px;

      width: fit-content;
      text-decoration: none;
      padding: 16px 32px;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      background: var(--primary-01, #344ff4);
      color: var(--font-font-body-md-body-md-inverse, #fff);
      font-family: var(--font-font-body-lg-font-family, "Neue Haas Unica Pro");
      font-size: var(--font-font-body-lg-size, 16px);
      font-style: normal;
      font-weight: 700;
      line-height: inherit;
    }
  }
}

.section-sobre {
  padding: 96px 0px;
  background: var(--default-default-section-bg-primary, #344ff4);

  .section-text-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    .text {
      width: 43%;

      @media (max-width: 1200px) {
        width: 100%;
      }

      small {
        color: var(--font-font-body-xl-body-xl-inverse, #fff);

        /* Body/Body Xl - Bold */
        font-family: var(
          --font-font-body-xl-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-xl-size, 18px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-xl-line-height, 26px); /* 144.444% */
      }

      h2 {
        margin: 0;
        padding: 0;

        margin-top: 32px;
        margin-bottom: 48px;

        color: var(--font-font-h2-title-h2-inverse, #fff);

        /* Titles/H2 */
        font-family: var(--font-font-h2-font-family, "Bw Seido Raw");
        font-size: var(--font-font-h2-size, 40px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-font-h2-line-height, 50px); /* 125% */
      }

      a {
        padding: 16px 32px;
        border-radius: 12px;
        background: var(--secondary-01, #282828);
        text-decoration: none;

        color: var(--font-font-body-md-body-md-inverse, #fff);

        /* Body/Body Lg - Bold */
        font-family: var(
          --font-font-body-lg-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-lg-size, 16px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-lg-line-height, 24px); /* 150% */
      }

      p {
        margin-top: 32px;
        color: var(--font-font-body-xs-body-xs-inverse, #fff);
        font-family: var(
          --font-font-body-xs-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-xs-size, 10px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-font-body-xs-line-height, 14px); /* 140% */

        width: 449px;

        @media (max-width: 1200px) {
          width: 100%;
        }
      }
    }

    .imgs {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      @media (max-width: 1200px) {
        width: 100%;
        gap: 24px;
        flex-direction: column;
      }

      .text-box {
        background-color: #fff;
        padding: 40px;
        border-radius: 4px;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        width: 505px;
        margin-right: 295px;
        margin-bottom: 60px;

        @media (max-width: 1200px) {
          width: 100%;
          position: relative;
          margin: 0px !important;
        }

        @media (max-width: 1470px) {
          margin-right: 204px;
        }

        @media (max-width: 1326px) {
          margin-right: 162px;
        }

        @media (max-width: 1250px) {
          margin-right: 112px;
        }

        h4 {
          margin: 0;
          padding: 0;

          margin-bottom: 16px !important;

          color: var(--default-default-icon-accent, #344ff4);

          /* Body/Body Lg - Bold */
          font-family: var(
            --font-font-body-lg-font-family,
            "Neue Haas Unica Pro"
          );
          font-size: var(--font-font-body-lg-size, 16px);
          font-style: normal;
          font-weight: 700;
          line-height: var(--font-font-body-lg-line-height, 24px); /* 150% */
        }

        p {
          margin-bottom: 16px;

          color: var(--font-font-body-lg-body-lg, #3d3d3d);
          font-family: var(
            --font-font-body-lg-font-family,
            "Neue Haas Unica Pro"
          );
          font-size: var(--font-font-body-lg-size, 16px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--font-font-body-lg-line-height, 24px);
        }

        strong {
          color: var(--font-font-body-lg-body-lg, #3d3d3d);
          font-family: var(
            --font-font-body-md-font-family,
            "Neue Haas Unica Pro"
          );
          // font-size: var(--font-font-body-md-size, 14px);
          font-style: normal;
          font-weight: 700;
          line-height: var(--font-font-body-md-line-height, 20px);
        }

        blue {
          color: var(--default-default-icon-accent, #344ff4);

          /* Body/Body Md - Bold */
          font-family: var(
            --font-font-body-md-font-family,
            "Neue Haas Unica Pro"
          );
          font-style: normal;
          font-weight: 700;
          line-height: var(--font-font-body-md-line-height, 20px);
        }

        p:last-child {
          margin-bottom: 0px;
        }
      }

      img {
        object-fit: cover;
        border-radius: 8px;

        @media (max-width: 1200px) {
          width: 100%;
          height: 540px;
        }
      }
    }
  }
}

.cotacao-home {
  background: var(--default-default-section-bg-primary, #344ff4);

  .mySwiper-cotas {
    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        gap: 8px;
        align-items: flex-end;
        width: 284px !important;
        padding: 12px 0px;
        border-right: 1px solid var(--primary-03, #203abf);

        .txt-green {
          color: #24b243 !important;
        }

        .flag-img {
          img {
            width: 40px;
            border-radius: 50%;
          }
        }

        .infos-cot {
          display: flex;
          gap: 4px;

          .infos-1 {
            display: flex;
            flex-direction: column;

            p {
              color: var(--colors-grey-grey-95, #f7f7f7);
              font-family: var(
                --font-font-body-md-font-family,
                "Neue Haas Unica Pro"
              );
              font-size: var(--font-font-body-md-size, 14px);
              font-style: normal;
              font-weight: 400;
              line-height: var(--font-font-body-md-line-height, 20px);
            }

            span {
              color: var(--colors-red-90, #ff1300);

              /* Body/Body Md - Bold */
              font-family: var(
                --font-font-body-md-font-family,
                "Neue Haas Unica Pro"
              );
              font-size: var(--font-font-body-md-size, 14px);
              font-style: normal;
              font-weight: 700;
              line-height: var(--font-font-body-md-line-height, 20px);
            }
          }

          .infos-2 {
            display: flex;
            flex-direction: column;

            p {
              color: var(--colors-grey-grey-95, #f7f7f7);

              /* Body/Body Md - Bold */
              font-family: var(
                --font-font-body-md-font-family,
                "Neue Haas Unica Pro"
              );
              font-size: var(--font-font-body-md-size, 14px);
              font-style: normal;
              font-weight: 700;
              line-height: var(--font-font-body-md-line-height, 20px);
            }

            span {
              color: var(--colors-grey-grey-100, #fff);
              font-family: var(
                --font-font-body-md-font-family,
                "Neue Haas Unica Pro"
              );
              font-size: var(--font-font-body-md-size, 14px);
              font-style: normal;
              font-weight: 700;
              line-height: var(--font-font-body-md-line-height, 20px);
            }
          }
        }
      }
    }
  }
}

.programs-section {
  padding: 112px 0px;
  background-color: #344ff4;
}

.tst-pg {
  display: flex;
  gap: 32px;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  .tst-programs {
    display: flex !important;
  }
}

.itens-programs {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 32px;

  @media (max-width: 1086px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 923px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 682px) {
    grid-template-columns: 1fr;
  }

  .first-card {
    border-radius: 8px;
    background: var(--primary-02, #324ae5);
    padding: 24px;
    width: 504px;

    @media (max-width: 1338px) {
      width: 418px;
    }

    @media (max-width: 1254px) {
      width: 343px;
    }

    @media (max-width: 1200px) {
      width: 100% !important;
    }

    span {
      color: var(--font-font-body-xl-body-xl-inverse, #fff);
      font-family: var(--font-font-body-xl-font-family, "Neue Haas Unica Pro");
      font-size: var(--font-font-body-xl-size, 18px);
      font-style: normal;
      font-weight: 700;
      line-height: var(--font-font-body-xl-line-height, 26px); /* 144.444% */
    }

    h3 {
      margin: 0;
      padding: 0;
      margin-top: 16px;
      margin-bottom: 32px;

      color: var(--font-font-h3-title-h3-inverse, #fff);
      font-family: var(--font-font-h3-font-family, "Bw Seido Raw");
      font-size: var(--font-font-h3-size, 32px);
      font-style: normal;
      font-weight: 300;
      line-height: var(--font-font-h3-line-height, 44px);
    }

    p {
      color: var(--font-font-body-md-body-md-inverse, #fff);
      font-family: var(--font-font-body-md-font-family, "Neue Haas Unica Pro");
      font-size: var(--font-font-body-md-size, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--font-font-body-md-line-height, 20px);
    }
  }

  .cards-programs {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--primary-02, #324ae5);
    padding-right: 24px;

    @media (max-width: 682px) {
      border-right: 0px;
    }

    .label {
      width: fit-content;
      display: flex;
      padding: 8px 16px;
      border-radius: 8px;
      border: 1px solid var(--colors-grey-grey-100, #fff);

      span {
        color: var(--font-font-body-sm-body-sm-inverse, #fff);
        font-family: var(
          --font-font-body-sm-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-sm-size, 12px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-sm-line-height, 16px); /* 133.333% */
      }
    }

    .infos-cards {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
        padding: 0;

        opacity: 0.1;
        margin-top: 40px;
        margin-bottom: 24px;

        color: var(--font-font-display-title-display-inverse, #fff);
        font-family: var(--font-font-display-font-family, "Bw Seido Raw");
        font-size: var(--font-font-display-size, 64px);
        font-style: normal;
        font-weight: 900;
        line-height: var(--font-font-display-line-height, 88px);
      }

      h3 {
        margin: 0;
        padding: 0;

        margin-bottom: 16px;
        color: var(--font-font-body-xl-body-xl-inverse, #fff);
        font-family: var(
          --font-font-body-xl-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-xl-size, 18px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-xl-line-height, 26px); /* 144.444% */
      }

      p {
        color: var(--colors-grey-grey-80, #ccc);

        /* Body/Body Sm - Bold */
        font-family: var(
          --font-font-body-sm-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-sm-size, 12px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-sm-line-height, 16px); /* 133.333% */
      }
    }
  }
}

.w-afil {
  padding: 112px 0px;

  .itens-w {
    display: flex;
    flex-direction: column;

    .label-title {
      margin-bottom: 32px;

      span {
        color: var(--font-font-body-xl-body-xl, #242424);
        font-family: var(
          --font-font-body-xl-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-xl-size, 18px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-xl-line-height, 26px);
      }
    }

    .item-2 {
      gap: 32px;
      display: flex;

      @media (max-width: 1200px) {
        flex-direction: column;
      }

      .text-1 {
        h3 {
          margin: 0;
          padding: 0;
          margin-bottom: 32px;

          color: var(--default-default-icon-accent, #344ff4);
          font-family: var(--font-font-h3-font-family, "Bw Seido Raw");
          font-size: var(--font-font-h3-size, 32px);
          font-style: normal;
          font-weight: 300;
          line-height: var(--font-font-h3-line-height, 44px);
        }

        p:last-child {
          margin-bottom: 0px;
        }

        p {
          margin-bottom: 20px;

          color: var(--font-font-body-md-body-md, #666);
          font-family: var(
            --font-font-body-md-font-family,
            "Neue Haas Unica Pro"
          );
          font-size: var(--font-font-body-md-size, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--font-font-body-md-line-height, 20px);
        }
      }

      .text-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;

        .cards-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 8px;

          @media (max-width: 834px) {
            grid-template-columns: 1fr;
          }

          .cards {
            border-radius: 4px;
            padding: 16px 32px;
            border: 1px solid var(--colors-grey-grey-85, #dedede);

            display: flex;
            align-items: center;
            gap: 16px;

            img {
            }

            p {
              color: var(--font-font-body-md-body-md, #666);
              font-family: var(
                --font-font-body-md-font-family,
                "Neue Haas Unica Pro"
              );
              font-size: var(--font-font-body-md-size, 14px);
              font-style: normal;
              font-weight: 400;
              line-height: var(--font-font-body-md-line-height, 20px);
            }
          }
        }

        .texts-content {
          display: flex;
          flex-direction: column;
          padding: 24px;

          p {
            color: var(--font-font-body-md-body-md, #666);
            font-family: var(
              --font-font-body-md-font-family,
              "Neue Haas Unica Pro"
            );
            font-size: var(--font-font-body-md-size, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: var(--font-font-body-md-line-height, 20px);
          }

          h3 {
            margin: 0;
            padding: 0;
            margin-top: 20px;

            color: var(--default-default-icon-accent, #344ff4);
            font-family: var(
              --font-font-body-xl-font-family,
              "Neue Haas Unica Pro"
            );
            font-size: var(--font-font-body-xl-size, 18px);
            font-style: normal;
            font-weight: 700;
            line-height: var(--font-font-body-xl-line-height, 26px);
          }
        }
      }
    }
  }
}

.como-funciona {
  background: var(--default-default-section-bg-primary, #344ff4);
  overflow: hidden;
  position: relative;
  z-index: 3;

  .itens-cf {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;

    @media (max-width: 1352px) {
      flex-direction: column;
    }

    .item-1 {
      display: flex;
      flex-direction: column;
      width: 650px;
      padding-right: 40px;
      padding-top: 112px;
      padding-bottom: 112px;
      position: relative;
      z-index: 2;
      background: var(--default-default-section-bg-primary, #344ff4);

      @media (max-width: 1352px) {
        width: 100%;
        padding-bottom: 40px;
      }

      span {
        color: var(--font-font-body-xl-body-xl-inverse, #fff);
        font-family: var(
          --font-font-body-xl-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-xl-size, 18px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-xl-line-height, 26px); /* 144.444% */
      }

      h3 {
        margin: 0;
        padding: 0;

        margin: 32px 0px;

        color: var(--font-font-h3-title-h3-inverse, #fff);
        font-family: var(--font-font-h3-font-family, "Bw Seido Raw");
        font-size: var(--font-font-h3-size, 32px);
        font-style: normal;
        font-weight: 300;
        line-height: var(--font-font-h3-line-height, 44px);
      }

      p:last-of-type {
        margin-bottom: 40px;

        color: var(--font-font-body-md-body-md-inverse, #fff);
        font-family: var(
          --font-font-body-md-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-md-size, 14px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-md-line-height, 20px);
      }

      p {
        margin-bottom: 20px;

        color: var(--font-font-body-md-body-md-inverse, #fff);
        font-family: var(
          --font-font-body-md-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-md-size, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-font-body-md-line-height, 20px);
      }

      a {
        border-radius: 12px;
        background: var(--secondary-01, #282828);
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 16px 32px;
        text-decoration: none;

        margin-bottom: 12px;

        color: var(--font-font-body-md-body-md-inverse, #fff);
        font-family: var(
          --font-font-body-lg-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-lg-size, 16px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-lg-line-height, 24px); /* 150% */
      }

      small {
        color: var(--font-font-body-xs-body-xs-inverse, #fff);
        font-family: var(
          --font-font-body-xs-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-xs-size, 10px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-font-body-xs-line-height, 14px); /* 140% */
      }
    }

    .item-2 {
      overflow: hidden;
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;

      @media (max-width: 1352px) {
        position: relative;
        width: 100%;
      }

      img {
        object-fit: cover;
        width: 1022px;
        height: 100%;

        @media (max-width: 1352px) {
          width: 100%;
        }
      }
    }
  }
}

.abordagem {
  padding: 72px;

  @media (max-width: 1200px) {
    padding: 72px 0px;
  }

  .itens-ab {
    display: flex;
    gap: 32px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  .item-1 {
    width: 100%;

    h3 {
      margin: 0;
      padding: 0;

      color: var(--font-font-h3-title-h3, #282828);
      font-family: var(--font-font-h3-font-family, "Bw Seido Raw");
      font-size: var(--font-font-h3-size, 32px);
      font-style: normal;
      font-weight: 300;
      line-height: var(--font-font-h3-line-height, 44px);
    }
  }

  .item-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    width: 214%;

    @media (max-width: 1200px) {
      width: 100%;
      grid-template-columns: 1fr;
      gap: 24px;
    }

    p:last-of-type {
      margin-bottom: 0px;
    }

    p {
      margin-bottom: 32px;
      color: var(--font-font-body-md-body-md, #666);
      font-family: var(--font-font-body-md-font-family, "Neue Haas Unica Pro");
      font-size: var(--font-font-body-md-size, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--font-font-body-md-line-height, 20px);

      @media (max-width: 1200px) {
        margin-bottom: 20px;
      }
    }

    .text-1 {
    }

    .text-2 {
    }
  }
}

.great-work {
  padding: 80px 0px;
  background: var(--default-default-section-bg-dark, #242424);

  .contents-great {
    display: flex;
    gap: 32px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    .title {
      width: 370px;

      @media (max-width: 1200px) {
        width: 100%;
      }

      h3 {
        margin: 0;
        padding: 0;

        margin-bottom: 16px;

        color: var(--font-font-h3-title-h3-inverse, #fff);
        font-family: var(--font-font-h3-font-family, "Bw Seido Raw");
        font-size: var(--font-font-h3-size, 32px);
        font-style: normal;
        font-weight: 300;
        line-height: var(--font-font-h3-line-height, 44px); /* 137.5% */
      }

      p {
        color: var(--font-font-body-xl-body-xl-inverse, #fff);
        font-family: var(
          --font-font-body-xl-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-xl-size, 18px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-font-body-xl-line-height, 26px); /* 144.444% */
      }
    }

    .carrosel-gt {
      width: 75%;

      @media (max-width: 1200px) {
        width: 100%;
      }
    }

    .swiper-gt {
      width: 100%;

      .swiper-slide:first-child {
        border-radius: var(---size-base-size-2, 2px);
        background: #e60000;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 156px;
        }
      }

      .swiper-slide {
        display: flex;
        height: 272px;
        flex-direction: column;

        width: 237px;
        padding: 24px;
        border-radius: 4px;
        border-right: 1px solid var(--colors-grey-grey-10, #3d3d3d);

        img {
          width: 48px;
        }

        h5 {
          margin: 0;
          padding: 0;

          margin-bottom: 8px;
          margin-top: 40px;

          color: var(--font-font-h5-title-h5-inverse, #fff);
          font-family: var(--font-font-h5-font-family, "Bw Seido Raw");
          font-size: var(--font-font-h5-size, 24px);
          font-style: normal;
          font-weight: 500;
          line-height: var(--font-font-h5-line-height, 34px); /* 141.667% */
        }

        p {
          color: var(--font-font-body-md-body-md-inverse, #fff);
          font-family: var(
            --font-font-body-md-font-family,
            "Neue Haas Unica Pro"
          );
          font-size: var(--font-font-body-md-size, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--font-font-body-md-line-height, 20px);
        }
      }
    }
  }
}

footer {
  background-color: #1a1a1a;

  .first-itens-footer {
    padding-top: 64px;

    .line-1 {
      display: flex;
      padding-bottom: 32px;
      border-bottom: 1px solid var(--colors-grey-grey-20, #525252);

      @media (max-width: 1200px) {
        gap: 42px;
      }

      @media (max-width: 954px) {
        flex-direction: column;
      }

      .logo {
        width: 540px;

        @media (max-width: 1200px) {
          width: fit-content;
        }

        img {
          width: 130px;
        }
      }

      .sobre-footer {
        display: flex;
        flex-direction: column;
        width: 400px;
        border-right: 1px solid #424242;
        gap: 8px;

        @media (max-width: 1200px) {
          width: fit-content;
          padding-right: 40px;
        }

        @media (max-width: 954px) {
          padding-right: 0px;
          border-right: 0px;
        }

        a {
          color: var(--font-font-body-md-body-md-inverse, #fff);
          font-family: var(
            --font-font-body-md-font-family,
            "Neue Haas Unica Pro"
          );
          font-size: var(--font-font-body-md-size, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: var(--font-font-body-md-line-height, 20px);
        }
      }

      .infos-social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
        padding-left: 32px;

        @media (max-width: 1200px) {
          grid-template-columns: 1fr;
          padding-left: 0px;
        }

        .item {
          h6 {
            margin: 0;
            padding: 0;

            margin-bottom: 16px;

            color: var(--font-font-body-md-body-md-inverse, #fff);
            font-family: var(
              --font-font-body-md-font-family,
              "Neue Haas Unica Pro"
            );
            font-size: var(--font-font-body-md-size, 14px);
            font-style: normal;
            font-weight: 700;
            line-height: var(--font-font-body-md-line-height, 20px);
          }

          a {
            color: var(--font-font-body-md-body-md-inverse, #fff);
            font-family: var(
              --font-font-body-md-font-family,
              "Neue Haas Unica Pro"
            );
            font-size: var(--font-font-body-md-size, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: var(--font-font-body-md-line-height, 20px);
          }

          .flex-itens-f {
            display: flex;
            gap: 8px;
          }

          .flex-imgs {
            gap: 24px;
          }

          p {
            color: var(--font-font-body-md-body-md-inverse, #fff);
            font-family: var(
              --font-font-body-md-font-family,
              "Neue Haas Unica Pro"
            );
            font-size: var(--font-font-body-md-size, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: var(--font-font-body-md-line-height, 20px);
          }
        }
      }
    }

    .line-2 {
      padding-top: 32px;
      padding-bottom: 24px;

      p:first-child {
        color: var(--font-font-body-sm-body-sm, #737373);
        font-family: var(
          --font-font-body-sm-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-sm-size, 12px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-sm-line-height, 16px); /* 133.333% */
      }

      p:last-child {
        margin-bottom: 0px;
      }

      p {
        margin: 0;
        margin-bottom: 20px;

        color: var(--font-font-body-sm-body-sm, #737373);
        font-family: var(
          --font-font-body-sm-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-sm-size, 12px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-font-body-sm-line-height, 16px); /* 133.333% */
      }
    }

    .prisma {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0px;
      flex-wrap: wrap;
      gap: 32px;

      p {
        color: var(--font-font-body-sm-body-sm, #737373);
        font-family: var(
          --font-font-body-sm-font-family,
          "Neue Haas Unica Pro"
        );
        font-size: var(--font-font-body-sm-size, 12px);
        font-style: normal;
        font-weight: 700;
        line-height: var(--font-font-body-sm-line-height, 16px); /* 133.333% */
      }

      img {
      }
    }
  }
}
